h1
{
  text-align: center;
  font-size: 24pt;
  padding-top: 2px;
  margin: 1em;
}
table
{

  border: 10px solid orange;
  border-collapse: separate;
  padding: 0.25em;
  height:80%;

}

td
{

  border:1px solid black;

}

th
{
  text-align: center;
  font-size: 24pt;
}

div
{

  min-width: 64px;
  min-height: 64px;

}

#grid
{
  float: left;
  margin-left: 2%;
}

#assets
{
  float: right;
  margin-right: 2%;
}
